/* --- HEADER STYLE --- */
.header {
    background: linear-gradient(to right, rgba(0, 0, 0, .98) 70%, rgba(0, 0, 0, .67)), 
    url('../../media/header-bg.jpg') center center / cover no-repeat;
}   

.header .container {
    height: 100%;
}

.hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    
    transition: var(--trans-03);
}

.hero-baseline-lead {
    padding: .25em 0;
    font-family: var(--potta-one);
    font-size: 7vw;
    letter-spacing: var(--lspacing);
    font-weight: 600;
    color: var(--color);
    transition: var(--trans-5);
    text-shadow: 10px 10px 2px var(--color);
    text-align: center;
}

.hero-baseline-lead span:hover {
    color: var(--born);
    transition: var(--trans-3);
}

.hero-baseline-s {
    font-family: var(--hachi-naru);
    margin-bottom: 40px;
    font-size: 1em;
    color: var(--born);
}

.hero-more,
.hero-more:link,
.hero-more:visited {
    font-family: var(--hachi-naru);
    font-weight: 500;
    color: var(--color);
    background-color: var(--dark);
}

.hero-more:hover {
    color: var(--born);
    letter-spacing: var(--lspacing);
}





